@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.principal {
    color: #FAFAFA;
    background-color: #13131A;
    font-family: "Nunito", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    scrollbar-color: #ABABC4 #1C1C27;
}

.logo {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
}

.logo > p {
    color: #FAFAFA;
    font-weight: 300;
    font-size: 1rem;
}

.pesquisa {
    position: relative;
    min-height: 100vh;
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    #tituloTexto {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .boasVindas {
            color: #FAFAFA;
            font-size: 1.8rem;
            font-weight: 600;
        }

        #strong {
            color: #8FB2F5;
        }

        p {
            color: #BFBFD4;
        }
    }

    
}

.searchEngine {
    position: relative;
    display: flex;
    background-color: #1E1E29;
    width: fit-content;
    align-items: center;
    border-radius: 20px;

    img {
        position: absolute;
        right: 2%;
        width: 32px;
        height: 32px;
        animation: spin 1s linear infinite;
    }

    .input {
        background-color: #1E1E29;
        border: none;
        outline: none;
        flex: 1;
        height: 56px;
        padding-left: 16px;
        border-radius: 20px;
        width: 40vw;
        color: #FAFAFA;
    }

    .input::placeholder {
        color: #7F7F98;
    }
}

.suggestionsDropdown{
    width: calc(40vw + 16px);
}

#resultado {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    section {
        min-width: calc(50% - 50px);
        min-height: calc(100vh - 40px);
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

#pesquisaDados {
    margin: 16px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 10px;

    img {
        background-color: #1E1E29;
        padding: 8px;
        border-radius: 20px;
        cursor: pointer;
    }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}


#pesquisaTemp {
    background-color: #16161F;
    margin: 20px;
}

#temperatura {
    margin: 16px;
    margin-top: 8px;
    padding: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 550px);
    justify-content: space-between;
    border-radius: 12px;
    text-transform: capitalize;
}

#nomeDatas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#tempIcon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap-reverse;
    h2 {
        font-size: 5rem;
    }
    img {
        width: auto;
    }
}

#detalhes {
    padding: 16px;
    margin-right: 16px;
    background-color: #16161F;
    border-radius: 12px;
    font-weight: 700;
    .detalhesFull {
        padding: 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: #3B3B55 solid 1px;
        color: #BFBFD4;
    }

    .detalhesIconText {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }

    p:first-child {
        border-bottom: none;
        color: #7F7F98;
    }

    div:last-child {
        border-bottom: none;
    }
}

#previsao {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
    margin-top: 16px;
    padding: 16px;
    background-color: #16161F;
    border-radius: 12px;
}

#prev5dias {
    color: #7F7F98;
    font-weight: 700;
    margin-bottom: 5px;
}

#previsoes {
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    overflow-x: auto;
}

.previsoesDias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    text-align: center;
    background-color: #1E1E29;
    border-radius: 16px;

    img {
        max-width: 6vw;
    }

    p:first-child {
        text-transform: capitalize;
    }

    p {
        font-size: 0.8rem;
        font-weight: 700;
        color: #BFBFD4;
        
    }

    #precipForeCast {
        display: flex;
        align-items: center;
    }

    p > span {
        color: #7F7F98;
    }
}

#prevDay {
    cursor: pointer;
    min-width: 120px;
}

.popup , .popupAtivo{
    position: fixed;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    transition: 0.6s ease-in-out;
    z-index: 1000;
    background-color: rgba(255, 158, 158, 1);
    color: rgba(255, 0, 0, 1);
    cursor: default;
}

.popup {
    opacity: 0;
}


.suggestionsDropdown{
    position: absolute;
    margin-top: 10px;
    list-style: none;
    border-radius: 20px;
    background: #3B3B54;
    box-shadow: 0 2px 8px rgba(12, 12, 12, 0.46);
    z-index: 100;

    .suggestion:first-child {
        border-radius: 20px 20px 0 0;
    }

    .suggestion:last-child {
        border-radius: 0 0 20px 20px;
    }
}

.suggestion {
    padding: 10px 0 10px 16px;
    text-align: left;
    border-bottom: solid 1px #13131A;
    color: #FAFAFA;
    cursor: pointer;
}

.suggestion:hover {
    background-color: #7F7F98;

}

.ForeCastHour {
    display: flex;
    overflow-x: auto;
    /* height: 400px; */
    margin: 20px;
    gap: 5px;
}

#citiesPesquisadas {
    display: flex;
    flex-direction: row;
    justify-content: center ;
    gap: 5px;
    flex-wrap: wrap;
    input {
        padding: 15px;
        border: none;
        outline: none;
        border-radius: 10px;
        background-color: #1E1E29;
        color: #FAFAFA;
    }
}

@media (max-width: 1000px) {
    #resultado {
        flex-direction: column;
        min-height: 100vh;

        section {
            margin-left: 16px;
            width: 90vw;
        }

        #pesquisaTemp {
            min-height: auto;
        }
    }

    #temperatura {
        min-height: auto;
        border-radius: 20px;
        font-size: 0.8rem;
        background-size: 200%;
        padding: 20px;

        h2 {
            font-size: 1.4rem;
        }
    }

    .input {
        min-width: calc(90vw - 110px);
    }

    .suggestionsDropdown{
        min-width: calc(90vw - 110px + 16px);
    }

    #previsao {
        margin-bottom: 16px;
    }

    .previsoesDias > img {
        min-width: 12vw;
    }

    .active {
        width: 80vw;
    }

}
